# Bootstrap
www/app/bootstrap*

# Symfony directories
www/vendor/*
www/*/logs/*
www/*/cache/*
www/web/uploads/*
www/web/bundles/*

# Configuration files
www/app/config/parameters.ini
www/app/config/parameters.yml
/nbproject/private/
